<div class="row">
  <h2 id="title" class="col-12">Open States Ember test</h2>
</div>
<div class="row">
  <div class="btn-group app-menu" role="group">
    {{#link-to "legislators" activeClass="active" class="btn btn-default"}}Legislators{{/link-to}}
    {{#link-to "legislatures" activeClass="active" class="btn btn-default"}}Legislatures{{/link-to}}
    {{#link-to "legislation" activeClass="active" class="btn btn-default"}}Legislation{{/link-to}}
  </div>
</div>
{{outlet}}
